body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f5f5;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: #f3f5f5;
}
header {
  background-color: #fff;
}

header .container {
  background-color: #fff;
}

header img {
  margin: 8px auto;
  height: 41px;
  width: auto;
}
.global {
  background-color: #fff;
  padding-bottom: 30px;
}
.info {
  background-color: #fff;
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.info img {
  width: 350px;
  height: 223px;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
  line-height: 26.7px;
  font-weight: 600;
  margin: 50px auto;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

h3 {
  font-size: 18px;
}

.info p {
  color: #9da0a0;
  font-size: 19px;
  line-height: 28.8px;
}

.info .col-2 {
  padding-top: 20px;
  padding-left: 50px;
}

.section {
  box-sizing: border-box;
  padding: 15px;
  width: 400px;
  height: 160px;
  margin: 10px 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.section:hover {
  cursor: pointer;
  box-shadow: 5px 10px 30px 5px lightgray;
}

.section img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  margin-left: 35px;
  object-fit: cover;
}

.display {
  display: flex;
}

.section p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20.8px;
  max-height: 38px;
  overflow: hidden;
  color: #808484;
}

.section span {
  color: #808484;
  margin-left: 10px;
}

.section span.popular {
  color: #ff9f3f;
}

.section i {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blockContainer {
  flex: 1.43;
}

.grosBlock {
  flex: 1;
  padding-right: 30px;
}

.moyenBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.basket {
  margin-top: 20px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0.57;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
}

.empty {
  height: 188px;
}

.empty-text {
  margin-top: 50px;
  padding-bottom: 50px;
}

.basket button {
  width: 330px;
  height: 50px;
  outline: none;
  border-style: none;
  font-family: inherit;
  font-weight: 800;
  font-size: inherit;
  padding: 18px 50px;
  border-radius: 5px;
}

.basket div {
  width: 330px;
  color: #868a8a;
}

.fullcart {
  background-color: #00cdbd;
  color: white;
}

.emptycart {
  background-color: #bac3c3;
  color: #8b9a9b;
}

.basket .command {
  display: flex;
  justify-content: space-between;
  color: #2e3333;
  padding: 20px 0px;
}

.basket hr {
  border: 1px solid #d1d7d7;
}

.basket div.command span:nth-child(1),
.basket div.command span:nth-child(3) {
  flex: 1;
}
.basket div.command span:nth-child(2) {
  flex: 3;
  margin-right: 30px;
}

.detail section {
  color: #2e3333;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
